.main {
  z-index: 2;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  font-size: 12px;
  flex-direction: row;

  .btn {
    font-size: 14px;
    line-height: 28px;
    height: 36px;
    margin-right: 14px;
    background: red;
    color: white;
    border: none;
    padding: 4px 10px;
    text-align: center;
    border-radius: 16px;
  }

  :global {
    .am-list-line::after {
      display: none !important;
    }
  }
}
