ul,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(136, 136, 136);
}

// antd default
:global {
  #root {
    .red {
      color: red;
    }

    .hidden {
      visibility: hidden;
    }

    .bold {
      font-weight: bold;
    }

    .font12 {
      font-size: 12px;
    }

    .font14 {
      font-size: 14px;
    }

    .font16 {
      font-size: 16px;
    }

    .space10 {
      margin-right: 10px;
    }

    .xyCenter {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .am-card {
      min-height: 0;
      padding: 12px;
    }
  }
}

.main {
  // background: white;

  article {
    min-height: 100%;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  :global {
    .am-tab-bar::-webkit-scrollbar {
      display: none;
    }

    #tab-bar.demo {
      display: flex;
      flex-direction: column;
    }

    #tab-bar .demoName {
      height: 40px;
    }

    #tab-bar .demo-preview-item .am-tab-bar {
      background-color: red;
    }
  }
}
