.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .addCart {
    background: yellow;
  }

  .buyNow {
    background: red;
  }

  .btn {
    :global {
      .am-tab-bar-tab-icon {
        display: none;
      }
    }
  }
}
